@charset "utf-8";
/* CSS Document */
#headbg{
	background-image:url(../asset/head.png);
	width:422px;
	height:72px;
	margin-top:-132px;
	margin-left:-350px;
}

#linebg{
	background-image:url(../asset/linebg.png);
	height:71px;
	background-repeat:repeat;
	margin-top:70px;
}

#logo{
	background-image:url(../asset/logo.png);
	width:333px;
	height:62px;
	margin-top:-50px;
	margin-left:-380px;
	margin-top:-40px;
}

#menu{
	margin-top:10px;
	margin-left:-450px;
}

#menu a{
	text-decoration:none;	
}
