
<script type="text/javascript">

  {literal}

    $(document).on('change', '.pilihprov', function(){


      var id = $(this).val();

      $.post(basedomain+'account/ajax',{kode_wilayah:id}, function(data){

        var html = "";

        if (data.status==true){
          $.each(data.res, function(i,val){

            html += "<option value='"+val.kode_wilayah+"'>"+val.nama_wilayah+"</option>";

          })

          $('.pilihkab').html(html);
        } 
        
      }, "JSON")  

    })
  {/literal}
</script>

<br>

<section>
    <div class="container">  
      <div class="center">
  <h2>Preview Pelaporan Nikotin & TAR</h2>
            <p class="lead">&nbsp;</p>
  </div>
<form method="post" action="{$basedomain}account/industri">
<div class="container">  
        <button id="btn-dis" class="btn btn-info" type="button" onclick="history.back()">
        <i class="fa fa-save"></i>
        Kembali ke daftar pelaporan
        </button>
        <a href="{$basedomain}account/pelaporan_nikotin/?id={$id}"><button id="btn-dis" class="btn btn-warning" type="button" onclick="">
        <i class="fa fa-save"></i>
        Edit data
        </button></a>
  </div>
<div class="content-container">

  <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">
          <table class="table">
            
            <thead>
            <tr>
              <th align="center">Item</th>
              <th align="center">Data</th>
              
            </tr>
            </thead>
            <tbody>
            
            <tr>
              <td>Nama Perusahaan</td>
              <td><input type="text" name="merek" class="form-control namaprodusen" value="{$ind.namaIndustri}" disabled/></td>
            </tr>
            <tr>
              <td>Kecamatan</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$ind.kecamatan}" disabled/></td>
            </tr>
            <tr>
              <td>Kelurahan/Desa</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$ind.desa}" disabled/></td>
            </tr>
            <tr>
              <td>Kode Pos</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$ind.kodePos}" disabled/></td>
            </tr>
            <tr>
              <td>Nama Jalan , RT RW</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$ind.jalanRTRW}" disabled/></td>
            </tr>
             <tr>
              <td>Nomor NPPBKC</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.noNPPBKC}" disabled/></td>
            </tr>
            <tr>
              <td>Merek Rokok</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.merek}" disabled/></td>
            </tr>
            <tr>
              <td>Jenis</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.d_jenisRokok}" disabled/></td>
            </tr>
            <tr>
              <td>Isi/Kemasan</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.isiKemasan} / {$kemasan.d_isiKemasan}" disabled/></td>
            </tr>
            <tr>
              <td>Kode Produksi</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.kodeProduksi}" disabled/></td>
            </tr>
            <tr>
              <td>Nomor / Kode sampel</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.kodeSample}" disabled/></td>
            </tr>
            <tr>
              <td>Nama Laboratorium</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.lab_nama}" disabled/></td>
            </tr>
            <tr>
              <td>Alamat Laboratorium</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.lab_alamat}" disabled/></td>
            </tr>
            <tr>
              <td>Penanggungjawab Laboratorium</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.lab_account}" disabled/></td>
            </tr>
            <tr>
              <td>Nomor Lap Hasil Uji/Sertifikat</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.noSertifikat}" disabled/></td>
            </tr>
            <tr>
              <td>Sertifikat Akreditasi Laboratorium yang Berlaku</td>
              <td><div class="col-sm-12">

                  <div class="col-sm-3">
                    <img src="{$basedomain}public_assets/{$kemasan.sertifikatlab}" width="100%">
                  </div>
                  
                </div></td>
            </tr>
            <tr>
              <td>Tanggal pengujian</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.tanggalUji}" disabled/>
            </td>
            </tr>
            <tr>
              <td>Kadar Nikotin</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.kadarNikotin}" disabled/></td>
            </tr>
            <tr>
              <td>Kadar Tar Coresta/Tar ISO</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.kadarTar}" disabled/></td>
            </tr>
            <tr>
              <td>Kadar Tar SNI/ Tar Kretek</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kemasan.kadarKretek}" disabled/></td>
            </tr>

            <tr>
              
              <td>Surat Pengantar</td>
              <td><div class="col-sm-12">

                  <div class="col-sm-3">
                    <img src="{$basedomain}public_assets/{$kemasan.sertifikat}" width="100%">
                  </div>
                  
                </div></td>
              
            </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>


      
</div>

</form>
</div>
  
  
</section>
