<br>

{literal}
<style type="text/css">
.grey-container {
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #eee;
    border-color: #dfdfdf;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    padding: 15px;
  } 
</style>
{/literal}
<section>
    <div class="container">  
<div class="content-container">
<div class="row">

  

  <form method="post" action="{$basedomain}account">
  <div class="col-md-6">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Penanggung jawab account
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Nama Depan</label>
                  <input type="text" name="name" class="form-control" value="{$user.name}" data-required="true" />
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Nama Belakang</label>
                  <input type="text" name="last_name" class="form-control" value="{$user.last_name}" data-required="true" />
              </div>
            </div>  
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Jabatan</label>
                  <input type="text" name="description" class="form-control" value="{$user.description}" />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Alamat</label>
                  <input type="text" name="StreetName" class="form-control" value="{$user.StreetName}" />
              </div>
            </div>

            
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">No Telepon</label>
                  <input type="text" name="phone_number" class="form-control" value="{$user.phone_number}" />
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Alamat Email : </label>
                  <strong>{$user.email}</strong>
              </div>
            </div>
            <div class='span5'><hr></div>
            <button id="btn-dis" class="btn btn-info" type="submit" name="submit" value="1">
              <input type="hidden" name="id" value="{$user.id}">
            <i class="fa fa-save"></i>
            Simpan Data
            </button>
          </div>

        </div>
          
        
      </div>
      </form>
    
      <div class="col-md-6">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Data Perusahaan
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Nama Perusahaan</label>
                  <input type="text" name="namaIndustri" class="form-control" value="{$data.namaIndustri}" disabled />
              </div>
            
          </div>
        </div>
    </div>  
    <br>
    {*}
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Daftar Penanggung Jawab Akun
            </h3>

          </div> <!-- /.portlet-header -->
          
          <div class="portlet-content">
        
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Nama Akun</label>
                  <a href="" class="form-control">User 1</a><br>
                  <a href="" class="form-control">User 1</a><br>
                  <a href="" class="form-control">User 1</a><br>
              </div>
            
          </div>
        </div>
          
    </div>  {/*}
      </div>
      <br>

</div>
</div>
</section>

