<style>
{literal}


#merek-list{float:left;list-style:none;margin:0;padding:0;width:100%;}
#merek-list li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
#merek-list li:hover{background:#F0F0F0;}
#search-box{padding: 10px;border: #F0F0F0 1px solid;}
{/literal}
</style>

<script>
{literal}
$(document).ready(function(){
  $('#postdate').datepicker ();
});
{/literal}
</script>

<br>
<section>
    <div class="container"> 
<form method="post" action="{$basedomain}account/pelaporan_nikotin" enctype="multipart/form-data">

<div class="content-container">
<div class="row">

  <div class="col-md-1"></div>
          <div class="col-md-10" align="center">
            <!-- STEP WIZARD -->
            <div id="wizard" class="swMain">
            <ul class="anchor">
              <li><a href="{$basedomain}account/industri" class="done">
                    <label class="stepNumber">1</label>
                    <span class="stepDesc">
                       Produsen<br />
                       <small>Informasi Produsen / Importir</small>
                    </span>
                </a></li>
              <li><a href="{$basedomain}account/pabrik" class="done">
                    <label class="stepNumber">2</label>
                    <span class="stepDesc">
                       Pabrik<br />
                       <small>Informasi Lokasi Pabrik</small>
                    </span>
                </a></li>
              <li><a href="{$basedomain}account/pelaporan" class="selected">
                    <label class="stepNumber">3</label>
                    <span class="stepDesc">
                       Pelaporan<br />
                       <small>Kemasan, Nikotin & TAR</small>
                    </span>                   
                 </a></li>
              <li><a href="{$basedomain}account/posting" class="disabled">
                    <label class="stepNumber">4</label>
                    <span class="stepDesc">
                       Posting<br />
                       <small>Posting Pelaporan ke BPOM</small>
                    </span>                   
                </a></li>
            </ul>
            </div>
            
          </div>
  
  
    <div class="center">
  <h2>Pelaporan Nikotin & TAR</h2>
            <p class="lead">&nbsp;</p>
  </div>
      <div class="col-md-12">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              List Pelaporan
            </h3>

          </div>
          <div class="portlet-content">
        
            <div class="col-sm-9">
              <div class="form-group">
                {if $laporannikotin}
                {foreach $laporannikotin as $val}
              <a href="{$basedomain}account/nikotinDetail/?id={$val.id}" class="form-control" {if $idnikotin==$val.id}disabled{/if}>{$val.merek}</a><br>
                {/foreach}
                {/if}
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                {if $laporannikotin}
                {foreach $laporannikotin as $val}
              {*}<a href="{$basedomain}account/delnikotin/?id={$val.id}" class="form-control" onclick="return submit_confirm('Hapus data ?')">Delete</a><br>{/*}<label class="form-control">{$val.changeDate}</label><br>
                {/foreach}
                {/if}
              </div>
            </div>
          </div>
        </div>
      </div>

      <button id="btn-dis" class="btn btn-success tambah_data_kemasan" type="button">
      <i class="fa fa-save"></i>
      Tambah Data
      </button>
      <a href="{$basedomain}account/pelaporan">
      <button id="btn-dis" class="btn btn-info" type="button">
      <i class="fa fa-save"></i>
      Pelaporan Kemasan
      </button></a>
    <div class="clearfix"></div>
    <br>

      <div class="col-md-6" style="{if !$idnikotin}display:none{/if}" id="info_produsen">
        
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Informasi Produsen
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Nama Produsen / Importir</label>
                  <select class="form-control" name="industriID" {if $idnikotin}readonly{/if}>
                    {if $listindustri}
                    {foreach $listindustri as $val}
                    <option value="{$val.id}">{$val.namaIndustri}</option>
                    {/foreach}
                    {/if}
                  </select>
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Lokasi Pabrik</label>
                  <select class="form-control" name="pabrikID" id="lokasipabrik" {if $idnikotin}readonly{/if}>
                    <option value="" >-Pilih Pabrik-</option>
                    {if $listpabrik}
                    {foreach $listpabrik as $val}
                    <option value="{$val.id}" {if $val.id == $kemasanedit.pabrikID}selected{/if}>{$val.alamatPabrik.nama_wilayah}</option>
                    {/foreach}
                    {/if}
                  </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">No NPPBKC</label>
                  <input type="text" name="noNPPBKC" class="form-control noNPPBKC" value="{$kemasanedit.noNPPBKC}" data-required="true" {if $idnikotin}disabled{/if}/>
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Alamat</label>
                  <input type="text" name="namaJalan" class="form-control namaJalan" value="{$kemasanedit.namaJalan}" data-required="true" {if $idnikotin}disabled{/if}/>
              </div>
            </div> 
            
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Nama Pemilik</label>
                  <input type="text" name="namaPimpinan" class="form-control namaPimpinan" value="{$kemasanedit.namaPimpinan}" data-required="true" {if $idnikotin}disabled{/if}/>
              </div>
            </div> 
          </div>
        </div>
      </div>
      

      <div class="col-md-6" style="{if !$idnikotin}display:none{/if}" id="info_lab">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Informasi Laboratorium Penguji
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-10">
              <div class="form-group">
              <label for="text-input">Nama Laboratorium</label>
                  <select class="form-control" name="labID" id="lab">
                    <option value="" >-Pilih Lab-</option>
                    {if $lab}
                    {foreach $lab as $val}
                    <option value="{$val.id}" {if $val.id==$kemasanedit.labID}selected{/if}>{$val.nama}</option>
                    {/foreach}
                    {/if}
                  </select>
              </div>
            </div>  
            <div class="col-md-2">
              <div class="form-group cd-popup-trigger">
                  <button class="btn btn-success tambah_lab" type="button"><i class="fa fa-info"></i> Tambah Lab</button>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Alamat</label>
                  <input type="text" name="alamat" class="form-control alamat" value="{$kemasanedit.lab_alamat}" data-required="true" readonly/>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Penanggungjawab</label>
                  <input type="text" name="penanggungjawab" class="form-control penanggungjawab" value="{$kemasanedit.lab_account}" data-required="true" readonly />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Upload sertifikat akreditasi laboratorium yang berlaku</label>
                  <input type="file" name="sertifikatlab" class="form-control" value="{$kemasanedit.sertifikatlab}" />
                  
              </div>
              {if $kemasanedit.sertifikatlab}
                    <img src="{$basedomain}public_assets/{$kemasanedit.sertifikatlab}" width="100px">{/if}
            </div>
          </div>
        </div>
      </div>


<div class="clearfix"></div>
<br>
      <div class="col-md-6" style="{if !$idnikotin}display:none{/if}" id="info_sample">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Informasi Sampel
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Merek Rokok</label>
                   <input type="text" id="search-box" placeholder="Ketik Merek Rokok" class="form-control"  {if $kemasanedit.merek}value="{$kemasanedit.merek}" disabled {/if}/>
                <div id="suggesstion-box"></div>
                <input type="hidden" name="merek" value="{$kemasanedit.merek}" id="hiddendata" {if $idnikotin}disabled{/if}>
              </div>
            </div>  
            
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Jenis</label>
                  <select class="form-control jenis" name="jenis" >
                    <option value="1" {if $kemasanedit.jenis==1}selected{/if}>SKM</option>
                    <option value="2" {if $kemasanedit.jenis==2}selected{/if}>SKT</option>
                    <option value="3" {if $kemasanedit.jenis==3}selected{/if}>SPM</option>
                    <option value="4" {if $kemasanedit.jenis==4}selected{/if}>CRT</option>
                    <option value="5" {if $kemasanedit.jenis==5}selected{/if}>TIS</option>
                    <option value="6" {if $kemasanedit.jenis==6}selected{/if}>KLM</option>
                  </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
              <label for="text-input">Isi</label>
                  <input type="text" class="form-control" name="isiKemasan" value="{$kemasanedit.isiKemasan}"/>

              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
              <label for="text-input">Satuan</label>
                  <select name="satuan" class="form-control" >
                  <option {if $laporankemasandetail.satuan==1}selected{/if} value="1">bgks/slop</option>
                  <option {if $laporankemasandetail.satuan==2}selected{/if} value="2">slider/slop</option>
                  <option {if $laporankemasandetail.satuan==3}selected{/if} value="3">btg/bgks</option>
                  <option {if $laporankemasandetail.satuan==4}selected{/if} value="4">btg/slinder</option>
                   <option {if $laporankemasandetail.satuan==5}selected{/if} value="5">gram/bgks</option>
                </select>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Kode Produksi</label>
                  <input type="text" name="kodeProduksi" class="form-control" value="{$kemasanedit.kodeProduksi}" />
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Nomor/Kode Sampel</label>
                  <input type="text" name="kodeSample" class="form-control" value="{$kemasanedit.kodeSample}" />
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <div class="col-md-6" style="{if !$idnikotin}display:none{/if}" id="info_pengujian">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Hasil Pengujian
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
           
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Nomor Lap Hasil Uji/Sertifikat</label>
                  <input type="text" name="noSertifikat" class="form-control" value="{$kemasanedit.noSertifikat}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Tanggal pengujian</label>
                  {*}<input type="text" name="tanggalUji" class="form-control" value="{$kemasanedit.tanggalUji}" />{/*}

                  <div id="postdate" class="input-group date" data-auto-close="true" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
                    <input class="form-control" type="text" name="tanggalUji" value="{$kemasanedit.tanggalUji}" data-required="true">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
              </div>
            </div>  
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Kadar Nikotin</label>
                  <input type="text" name="kadarNikotin" class="form-control" value="{$kemasanedit.kadarNikotin}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Kadar Tar Coresta/Tar ISO</label>
                  <input type="text" name=" kadarTar" class="form-control" value="{$kemasanedit.kadarTar}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Kadar Tar SNI/ Tar Kretek</label>
                  <input type="text" name="kadarKretek" class="form-control" value="{$kemasanedit.kadarKretek}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Upload sertifikat pengujian</label>
                  <input type="file" name="sertifikat" class="form-control" value="{$kemasanedit.sertifikat}" />
                  
              </div>
              {if $kemasanedit.sertifikat}
                    <img src="{$basedomain}public_assets/{$kemasanedit.sertifikat}" width="100px">{/if}
            </div>
          </div>
        </div>
        <!-- <input type="hidden" name="industriID" value="" class="industriID"> -->
<input type="hidden" name="id" value="{$kemasanedit.id}" class="">
<button id="btn-dis" class="btn btn-info" type="submit">
      <i class="fa fa-save"></i>
      Simpan Data
      </button>
      <button id="btn-dis" class="btn btn-warning cancel_nikotin" type="button">
      <i class="fa fa-save"></i>
      Cancel
      </button>
      </div>
      
      </div>
      
</div>
<br>
<section>
    <div class="container">  

</form>
</div>
</section>
