<script type="text/javascript">

  {literal}

    $(document).on('change', '#lokasipabrik', function(){


      var id = $(this).val();

      $.post(basedomain+'account/ajaxPabrik',{kode_wilayah:id}, function(data){

        var html = "";

        if (data.status==true){
          
          var hasil = data.res;
          $('.noNPPBKC').val(hasil.pabrik.noNPPBKC);
          $('.namaJalan').val(hasil.pabrik.namaJalan);
          $('.noTelepon').val(hasil.ind.noTelepon);
          $('.noFax').val(hasil.ind.noFax);
          $('.namaPimpinan').val(hasil.ind.namaPimpinan);
          $('.industriID').val(hasil.ind.id);
          $('.pabrikID').val(hasil.pabrik.id);
          
        }else{
          $('.noNPPBKC').val('');
          $('.namaJalan').val('');
          $('.noTelepon').val('');
          $('.noFax').val('');
          $('.namaPimpinan').val('');
          $('.industriID').val('');
          $('.pabrikID').val('');
        } 
        
      }, "JSON")  

    })

    $(document).on('click', '.tambah_data_kemasan', function(){
      
        $('#info_produsen').css('display','block');
        $('#info_produk').css('display','block');
        
    }) 
    $(document).on('click', '.cancel_kemasan', function(){
        $('#info_produsen').css('display','none');
          $('#info_produk').css('display','none');
    }) 

  {/literal}
</script>

<style>
{literal}


#country-list{float:left;list-style:none;margin:0;padding:0;width:190px;}
#country-list li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
#country-list li:hover{background:#F0F0F0;}
#search-box{padding: 10px;border: #F0F0F0 1px solid;}
{/literal}
</style>

<script>
{literal}
$(document).ready(function(){
  $("#search-box").keyup(function(){
    $.ajax({
    type: "POST",
    url: basedomain+"account/ajax_getMerek",
    data:'keyword='+$(this).val(),
    beforeSend: function(){
      $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
    },
    success: function(data){
      $("#suggesstion-box").show();
      $("#suggesstion-box").html(data);
      $("#search-box").css("background","#FFF");
    }
    });
  });
});

function selectCountry(data, val) {
$("#hiddendata").val(val);
$("#search-box").val(data);
$("#suggesstion-box").hide();
}
{/literal}
</script>

<br>
<section>
    <div class="container">  
<form method="post" action="{$basedomain}account/pelaporan" enctype="multipart/form-data">

<div class="content-container">
<div class="row">

  <div class="col-md-1"></div>
          <div class="col-md-10" align="center">
            <!-- STEP WIZARD -->
            <div id="wizard" class="swMain">
            <ul class="anchor">
              <li><a href="{$basedomain}account/industri" class="done">
                    <label class="stepNumber">1</label>
                    <span class="stepDesc">
                       Step 1<br />
                       <small>Informasi Produsen / Importir</small>
                    </span>
                </a></li>
              <li><a href="{$basedomain}account/pabrik" class="done">
                    <label class="stepNumber">2</label>
                    <span class="stepDesc">
                       Step 2<br />
                       <small>Informasi Lokasi Pabrik</small>
                    </span>
                </a></li>
              <li><a href="{$basedomain}account/pelaporan" class="selected">
                    <label class="stepNumber">3</label>
                    <span class="stepDesc">
                       Step 3<br />
                       <small>Pelaporan Kemasan</small>
                    </span>                   
                 </a></li>
              <li><a href="{$basedomain}account/pelaporan_nikotin" class="disabled">
                    <label class="stepNumber">4</label>
                    <span class="stepDesc">
                       Step 4<br />
                       <small>Pelaporan Nikotin & TAR</small>
                    </span>                   
                </a></li>
            </ul>
            </div>
            
          </div>
  
  
    <div class="center">
  <h2>Pelaporan Kemasan</h2>
            <p class="lead">&nbsp;</p>
  </div>
      <div class="col-md-12">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              List Pelaporan
            </h3>

          </div>
          <div class="portlet-content">
        
            <div class="col-sm-12">
              <div class="form-group">
                {if $laporankemasan}
                {foreach $laporankemasan as $val}
              <a href="{$basedomain}account/pelaporanDetail/?id={$val.id}" class="form-control">{$val.merek}</a><br>
                {/foreach}
                {/if}
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="btn-dis" class="btn btn-info tambah_data_kemasan" type="button">
      <i class="fa fa-save"></i>
      Tambah Data
      </button>
    <div class="clearfix"></div>
    <br>

      <div class="col-md-6" style="display:none" id="info_produsen">
        
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Informasi Produsen
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Nama Produsen / Importir</label>
                  <select class="form-control" name="jenisKelamin">
                    {if $listindustri}
                    {foreach $listindustri as $val}
                    <option value="{$val.id}">{$val.namaIndustri}</option>
                    {/foreach}
                    {/if}
                  </select>
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="form-group">
              <label for="text-input">Lokasi Pabrik</label>
                  <select class="form-control" name="lokasi" id="lokasipabrik">
                    <option value="" >-Pilih Pabrik-</option>
                    {if $listpabrik}
                    {foreach $listpabrik as $val}
                    <option value="{$val.id}" >{$val.alamatPabrik.nama_wilayah}</option>
                    {/foreach}
                    {/if}
                  </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">No NPPBKC</label>
                  <input type="text" name="noNPPBKC" class="form-control noNPPBKC" value="{$kemasanedit.noNPPBKC}" data-required="true" disabled/>
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Alamat</label>
                  <input type="text" name="namaJalan" class="form-control namaJalan" value="{$kemasanedit.namaJalan}" data-required="true" disabled/>
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">No Telp</label>
                  <input type="text" name="noTelepon" class="form-control noTelepon" value="{$kemasanedit.noTelepon}" data-required="true" disabled/>
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">No Fax</label>
                  <input type="text" name="noFax" class="form-control noFax" value="{$kemasanedit.noFax}" data-required="true" disabled />
              </div>
            </div> 
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Nama Pemilik/Direktur</label>
                  <input type="text" name="namaPimpinan" class="form-control namaPimpinan" value="{$kemasanedit.namaPimpinan}" data-required="true" disabled/>
              </div>
            </div> 
          </div>
        </div>
      </div>
      

      <div class="col-md-6" style="display:none" id="info_produk">
        <div class="portlet">
        
          <div class="portlet-header">

            <h3>
              <i class="fa fa-file"></i>
              Informasi Produk
            </h3>

          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
        
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">Merek Rokok</label>

                <input type="text" id="search-box" placeholder="Country Name" />
                <div id="suggesstion-box"></div>
                <input type="hidden" name="merek" value="" id="hiddendata">
                {*}
                  <select class="form-control" name="merek">
                    {if $produk}
                    {foreach $produk as $val}

                    <option value="{$val.id}" >{$val.merek}</option>
                    {/foreach}
                    {/if}
                  </select>
                {/*}
              </div>
            </div>  
            
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Jenis</label>
                  <select class="form-control" name="jenis">
                    <option value="1" >SKM</option>
                    <option value="2" >SKT</option>
                    <option value="3" >SPM</option>
                    <option value="4" >CRT</option>
                    <option value="5" >TIS</option>
                  </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Isi/Kemasan</label>
                  <select name="isi" class="form-control" >
                  <option {if $kemasanedit.isi==1}selected{/if} value="1">10 bks/slop</option>
                  <option {if $kemasanedit.isi==2}selected{/if} value="2">10 btg/bks</option>
                  <option {if $kemasanedit.isi==3}selected{/if} value="3">10 slider/slop</option>
                  <option {if $kemasanedit.isi==4}selected{/if} value="4">12 btg/bks</option>
                  <option {if $kemasanedit.isi==5}selected{/if} value="5">50 btg/slinder</option>
                </select>
              </div>
            </div>

            
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Bentuk Kemasan</label>
                  <select class="form-control" name="bentuKemasan">
                    <option value="1" >Kotak Persegi Panjang 1</option>
                    <option value="2" >Kotak Slop</option>
                    <option value="3" >Slinder</option>
                  </select>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Jenis Gambar</label>
                <select class="form-control">
                  <option value="1" {if $data.jenisGambar==1}selected{/if}>1 (Kanker Mulut)</option>
                  <option value="2" {if $data.jenisGambar==2}selected{/if}>2 (Kanker Tenggorokan)</option>
                  <option value="3" {if $data.jenisGambar==3}selected{/if}>3 (Ayah dan anak)</option>
                  <option value="4" {if $data.jenisGambar==4}selected{/if}>4</option>
                  <option value="5" {if $data.jenisGambar==5}selected{/if}>5</option>
                  <option value="6" {if $data.jenisGambar==6}selected{/if}>6</option>
                  </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Tulisan peringatan kesehatan</label>
                  
                  <select class="form-control" name="tulisanPeringatan">
                      {foreach $tulisan as $val}
                      <option value="{$val.id}" {if $data.tulisanPeringatan=={$val.id}}selected{/if}>{$val.title}</option>
                      {/foreach}
                       
                  </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan Depan</label>
              {if $laporankemasandetail.fotoDepan}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoDepan}" width="100px">{/if}
                  <input type="file" name="fotoDepan" class="form-control" value="{$data.evaluasiInformasi}" />

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan Belakang</label>
              {if $laporankemasandetail.fotoBelakang}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoBelakang}" width="100px">{/if}
                  <input type="file" name="fotoBelakang" class="form-control" value="{$data.evaluasiInformasi}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan samping Kanan</label>
              {if $laporankemasandetail.fotoKanan}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoKanan}" width="100px">{/if}
                  <input type="file" name="fotoKanan" class="form-control" value="{$data.evaluasiInformasi}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan samping kiri</label>
              {if $laporankemasandetail.fotoKiri}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoKiri}" width="100px">{/if}
                  <input type="file" name="fotoKiri" class="form-control" value="{$data.evaluasiInformasi}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan atas</label>
              {if $laporankemasandetail.fotoAtas}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoAtas}" width="100px">{/if}
                  <input type="file" name="fotoAtas" class="form-control" value="{$data.evaluasiInformasi}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Foto Kemasan bawah</label>
              {if $laporankemasandetail.fotoBawah}
              <img src="{$basedomain}public_assets/{$laporankemasandetail.fotoBawah}" width="100px">{/if}
                  <input type="file" name="fotoBawah" class="form-control" value="{$data.evaluasiInformasi}" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Upload Surat Pengantar</label>
                  <input type="file" name="suratPengantar" class="form-control" value="{$data.suratpengantar}" />
              </div>
            </div>
          </div>
        </div>
        <br>
          <input type="hidden" name="industriID" value="" class="industriID">
          <input type="hidden" name="pabrikID" value="" class="pabrikID">
          <button id="btn-dis" class="btn btn-info" type="submit">
              <i class="fa fa-save"></i>Simpan Data</button>
          <button id="btn-dis" class="btn btn-warning cancel_kemasan" type="button">
          <i class="fa fa-save"></i>Cancel</button>
      </div>


      </div>
      
</div>

</form>

</div>
</section>