
<script type="text/javascript">

  {literal}

    $(document).on('change', '.pilihprov', function(){


      var id = $(this).val();

      $.post(basedomain+'account/ajax',{kode_wilayah:id}, function(data){

        var html = "";

        if (data.status==true){
          $.each(data.res, function(i,val){

            html += "<option value='"+val.kode_wilayah+"'>"+val.nama_wilayah+"</option>";

          })

          $('.pilihkab').html(html);
        } 
        
      }, "JSON")  

    })
  {/literal}
</script>

<br>

<section>
    <div class="container">  
      <div class="center">
  <h2>Preview Informasi Produsen / Importir</h2>
            <p class="lead">&nbsp;</p>
  </div>
<form method="post" action="{$basedomain}account/industri">

<div class="content-container">

  <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">
          <table class="table">
            
            <thead>
            <tr>
              <th align="center">Item</th>
              <th align="center">Data</th>
              
            </tr>
            </thead>
            <tbody>
            
            <tr>
              
              <td>Nama Perusahaan</td>
              <td><input type="text" name="merek" class="form-control namaprodusen" value="{$data.namaIndustri}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>NPWP Perusahaan</td>
              <td><input type="text" name="produsen" class="form-control namaprodusen" value="{$data.npwp}" disabled/></td>
              <td></td>
            </tr>
            <tr>
             
              <td>Nama Penanggungjawab</td>
              <td><input type="text" name="jenis" class="form-control jenisrokok" value="{$data.namaPimpinan}" disabled/></td>
              <td></td>
            </tr>
            <tr>
             
              <td>No KTP Penanggungjawab</td>
              <td><input type="text" name="jenis" class="form-control jenisrokok" value="{$data.noKTP}" disabled/></td>
              <td></td>
            </tr>
            
            <tr>
              
              <td>Alamat Penanggungjawab</td>
              <td><input type="text" name="jenis" class="form-control jenisrokok" value="{$data.alamatPimpinan}" disabled/></td>
              <td></td>
            </tr>
            
            <tr>
              
              <td>Kabupaten/Kotamadya</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$kabupaten.nama_wilayah}" disabled/></td>
              <td></td>
            </tr>
            <tr>
             
              <td>Kecamatan</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.kecamatan}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>Kelurahan/Desa</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.desa}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>Kode Pos</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.kodePos}" disabled/></td>
              <td></td>
            </tr>
            <tr>
             
              <td>Nama Jalan , RT RW</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.jalanRTRW}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>No Telepon</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.noTelepon}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>No Fax</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.noFax}" disabled/></td>
              <td></td>
            </tr>
            <tr>
              
              <td>Alamat email</td>
              <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="{$data.email}" disabled/></td>
              <td></td>
            </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

{*}
<div class="row">

  <div class="center">
  <h2>Informasi Produsen / Importir</h2>
            <p class="lead">&nbsp;</p>
  </div>
      <div class="col-md-6">
        <div class="portlet">
        
          <div class="portlet-header">
            
          </div> <!-- /.portlet-header -->
        
          <div class="portlet-content">
          
            <div class="col-sm-12">

              <div class="form-group">
              <label for="text-input">Nama Perusahaan</label>
                  <input type="text" name="namaIndustri" class="form-control" value="{$data.namaIndustri}" disabled />
              </div>
            </div>  
            <div class="col-sm-12">
              <div class="form-group">
              <label for="text-input">NPWP Perusahaan</label>
                  <input type="text" name="npwp" class="form-control" value="{$data.npwp}" data-required="true" />
              </div>
            </div>  
            <div class='span11'><hr></div>
            <label for="text-input">Penanggungjawab Perusahaan</label>
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Nama</label>
                  <input type="text" name="namaPimpinan" class="form-control" value="{$data.namaPimpinan}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">No KTP</label>
                  <input type="text" name="noKTP" class="form-control" value="{$data.noKTP}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <label for="text-input">Jenis Kelamin</label>
                  <select class="form-control" name="jenisKelamin">
                    <option value="1" {if $data.jenisKelamin==1}selected{/if}>Laki - Laki</option>
                    <option value="2" {if $data.jenisKelamin==2}selected{/if}>Perempuan</option>
                  </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
              <label for="text-input">Alamat</label>
                  <input type="text" name="alamatPimpinan" class="form-control" value="{$data.alamatPimpinan}" />
              </div>
            </div>
            
            <div class='span5'><hr></div>
            
          </div>

        
    </div>  

      </div>

      <div class="col-md-6">
                <div class="portlet">
                
                  <div class="portlet-header">
                    
                  </div> <!-- /.portlet-header -->

                <div class="portlet-content">
                  <label for="text-input">Alamat Kantor/Surat Menyurat</label>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label for="text-input">Provinsi</label>
                          <select class="form-control pilihprov" required>
                            <option>-Pilih Provinsi-</option>
                            {foreach $lokasi as $val}
                            <option value="{$val.kode_wilayah}" {if $provinsi.kode_wilayah==$val.kode_wilayah}selected{/if}>{$val.nama_wilayah}</option>

                            {/foreach}
                          </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">Kabupaten/Kotamadya</label>
                          <select class="form-control pilihkab" name="provinsi" required>
                            {if $kabupaten}
                            <option value="{$kabupaten.kode_wilayah}">{$kabupaten.nama_wilayah}</option>
                            {else}
                            <option>-Pilih Kabupaten-</option>
                            {/if}
                          </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">Kecamatan</label>
                          <input type="text" name="kecamatan" class="form-control" value="{$data.kecamatan}" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">Kelurahan/Desa</label>
                          <input type="text" name="desa" class="form-control" value="{$data.desa}" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">Kode Pos</label>
                          <input type="text" name="kodePos" class="form-control" value="{$data.kodePos}" required/>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label for="text-input">Nama Jalan , RT RW</label>
                          <input type="text" name="jalanRTRW" class="form-control" value="{$data.jalanRTRW}" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">No Telepon</label>
                          <input type="text" name="noTelepon" class="form-control" value="{$data.noTelepon}" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="text-input">No Fax</label>
                          <input type="text" name="noFax" class="form-control" value="{$data.noFax}" required/>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label for="text-input">Alamat email</label>
                          <input type="text" name="email" class="form-control" value="{$data.email}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {/*}
      <br>
      <a href="{$basedomain}account/industri">
      <button id="btn-dis" class="btn btn-warning" type="button">
      <i class="fa fa-save"></i>
      Kembali
      </button>
      </a>
      <a href="{$basedomain}account/pabrik"><input type="hidden" name="id" value="{$data.id}">
      <button id="btn-dis" class="btn btn-info" type="button">
      <i class="fa fa-save"></i>
      Lanjutkan Ke Form Pabrik
      </button></a>
      
      
</div>

</form>
</div>
</section>