<section id="blog" class="container">
        <div class="center">
            <h2>Detail News</h2>
            <p class="lead">&nbsp;</p>
        </div>

        <div class="blog">
            <div class="row">

                
                <div class="col-md-8">
                    <div class="blog-item">
                        <a href="#">
                                    <img class="img-responsive img-blog" src="{$basedomain}public_assets/news-1.jpg" width="100%"  alt="" />
                                </a>
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">1 Nov 2014</span>
                                        <span><i class="fa fa-user"></i> <a href="#"> NAPZA</a></span>
                                       
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>BPOM: Regulasi Rokok Elektronik, Tunggu Tanggal Mainnya</h2>
                                    <p>Kini, makin banyak beredar rokok elektronik atau personal vapour. Penjualannya makin marak di internet,  dan kini mulai merambah di pusat-pusat perbelanjaan. Sehingga, saat ini makin mudah melihat orang menghisap rokok elektronik (vaping). Hingga kini, Indonesia memang belum memiliki regulasi yang mengatur tentang penggunaan rokok elektronik.</p>
                                    <p>Badan Pengawas Obat dan Makanan (BPOM) sudah mendiskusikan hal ini bersama dengan Kementerian Kesehatan dalam beberapa waktu terakhir membicarakan apa risiko serta manfaatnya. "Kita tunggu aturan atau regulasi hal ini dari Kementerian Kesehatan. Tunggu tanggal mainnya saja," terang Kepala BPOM Dr. Ir. Roy Alexander Sparringa, M.App.Sc saat dihubungi oleh Health-Liputan6.com pada Kamis (16/10/2014).
                                    "Nanti jika sudah ada regulasinya kami akan bergerak sesuai regulasi tersebut," terang Roy.</p>
                                    <p>Bukan hanya Indonesia saja yang belum memiliki aturan jelas tentang penggunaan vaping, negara-negara di Eropa umumnya belum memilikinya. Namun, Roy menjelaskan, bahwa negara tetangga seperti Australia, Singapura, dan Thailand dengan tegas melarang penggunaan rokok elektronik.
                                    "Bahkan, di negeri asalnya yakni Tiongkok dilarang," ujar pria kelahiran Sidoarjo, 1 Mei 1962 ini.
                                    Menurutnya, tak lama lagi Indonesia pun sudah akan mengeluarkan kejelasan tentang keberadaan rokok elektronik ini. </p>
                                    (Sumber : Liputan6.com Jakarta 17 Oktober 2014)
</p>
                                    
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
                    </div><!--/.col-md-8-->
                    

                      <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->
                    
                
                     
                    <div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Agustus 2014 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2014 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2014 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2014 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.archieve-->
                    
                </aside>  
                

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
