
	<script type="text/javascript" src="{$basedomain}assets/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/jquery-ui.js"></script>
    <script src="{$basedomain}assets/js/plugins/beatpicker/js/BeatPicker.min.js"></script>
	<script type="text/javascript">
		{literal}
		$(function(){
			$('#postdate').datepicker({
				dateFormat:'yy-mm-dd'
			});
			$('#postdate1').datepicker({
				dateFormat:'yy-mm-dd'
			});
			$('#postdate2').datepicker({
				dateFormat:'yy-mm-dd'
			});

			$(window).load(function() {
                $('#slider').nivoSlider();
            });

			
		});

		function login()
		{
			$('.form .form-bg').fadeIn('fast', function(){
			$('.form #form-1').show('fast');
			});
					
			$('.form #form-1 .form-btn-close').click(function(){
			$('.form #form-1').fadeOut('fast', function(){
			$('.form .form-bg').hide('fast');
			});
			});
		}
		{/literal}
	</script>

	
	<div id="footer">
    	<div class="site">
    		<a href="index.html">Home</a>
            <a href="news.html">News</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact Us</a>
        </div>
        <div class="copyright" style="padding-top:30px;color:#FFFFFF; ">
        	COPYRIGHT © 2014 BPOM - NAPZA - INDONESIA. ALL RIGHTS RESERVE
        </div>
    </div>


	<!-- FORM BUAT TAMBAH -->	
        <div class="form">
				<div class="form-bg">
					<div class="form-style-1 form-wrapper" id="form-1">						
						<div class="popup-content">
                        	<div class="formLogin">
                            	<div class="headLogin">
                                	<div class="teksHead" align="center">&raquo; Sign In &laquo;</div>
                                </div>
                            	<div class="contentLogin" align="center">
                                	<form method="post" action="">
                                        <table class="tableForm">
                                            <tr style="margin-bottom:10px;">
                                                <td>Username</td><td>:</td>
                                                <td><input type="text" name="username" value="" size="20" id="username"/> 
                                            </tr>
                                            <tr>
                                                <td>Password</td><td>:</td>
                                                <td><input type="text" name="password" value="" size="20" id="password"/>
                                            </tr>                                
                                            <tr>
                                                <td colspan="3" align="right">            
                                                    <input class="form-btn-save" type="submit" id="save" value="Save" /> &nbsp;&nbsp;
                                                    <input class="form-btn-close" type="reset" value="Cancel" /> &nbsp;&nbsp;
                                                    <input class="form-btn-register" type="submit" value="Register" />
                                                </td>
                                            </tr>
                                        </table>
                                     </form>
                                </div>
                            </div>                        						
						</div>
					</div>
					<!--ENDS Popup Type 1-->
				</div>
				<!--ENDS Popup Background-->
		</div>
		
</body>
</html>