
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                  Direktorat Pengawasan Narkotika, Psikotropika dan Zat Adiktif (NAPZA)
                  <br>Badan Pengawas Obat dan Makanan
                  <br>Jl. Percetakan Negara No. 23 Jakarta Pusat 10560
                  <br>Telp/Fax : (021) 424 5523, Email : wasnapza@pom.go.id, wasnapza@gmail.com
                </div>
                 <!-- <div class="col-sm-6">
                  <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>&nbsp;
                </div>-->
            </div>
        </div>
    </footer><!--/#footer-->
	
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p class="popuptext"></p>
            <div class="popupcontent"></div>
            {*}
            <ul class="cd-buttons">
                <li><a href="#0">Yes</a></li>
                <li><a href="#0">No</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>{/*}
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->

    <script src="{$basedomain}assets/js/bootstrap.min.js"></script>
    <script src="{$basedomain}assets/js/jquery.prettyPhoto.js"></script>
    <script src="{$basedomain}assets/js/jquery.isotope.min.js"></script>
    <script src="{$basedomain}assets/js/main.js"></script>
    <script src="{$basedomain}assets/js/mainpopup.js"></script>
    <script src="{$basedomain}assets/js/wow.min.js"></script>
    <script src="{$basedomain}assets/js/bootstrap-submenu.js" defer></script>
    <script src="{$basedomain}assets/js/jquery.maskedinput.js" defer></script>
    <script src="{$basedomain}assets/js/globalHelper.js" defer></script>
    <script src="{$basedomain}assets/js/jquery.form.js"></script>
    <script src="{$basedomain}assets/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="{$basedomain}assets/js/modernizr.js"></script> <!-- Modernizr -->
    <script>
        jssor_1_slider_init();
    </script>
	<script type="text/javascript">
        $(document).ready(function() {
          //change the integers below to match the height of your upper dive, which I called
          //banner.  Just add a 1 to the last number.  console.log($(window).scrollTop())
          //to figure out what the scroll position is when exactly you want to fix the nav
          //bar or div or whatever.  I stuck in the console.log for you.  Just remove when
          //you know the position.

          $(window).scroll(function () { 

            console.log($(window).scrollTop());

            if ($(window).scrollTop() > 160) {

               if ( $(window).width() < 1137) {
                  $('#nav_bar').removeClass('navbar-fixed-top');

              }else{
                  $('navbar-nav').addClass('pull-right');
                  $('#nav_bar').addClass('navbar-fixed-top');
                  $("#nav_bar").height(60);
                  $("#nav_bar").css("padding-top","0");
              }
            }

            if ($(window).scrollTop() < 161) {
              $('#nav_bar').removeClass('navbar-fixed-top');
              $('#nav_bar').css('height', 'auto');
              $("#nav_bar").css("padding-top","15px");
            }
          });
        });
    </script>
</body>
</html>