
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                  Direktorat Pengawasan Narkotika, Psikotropika dan Zat Adiktif (NAPZA)
                </div>
                 <!-- <div class="col-sm-6">
                  <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>&nbsp;
                </div>-->
            </div>
        </div>
    </footer><!--/#footer-->
	
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p class="popuptext"></p>
            {*}
            <ul class="cd-buttons">
                <li><a href="#0">Yes</a></li>
                <li><a href="#0">No</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>{/*}
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->

    <script src="{$basedomain}assets/js/bootstrap.min.js"></script>
    <script src="{$basedomain}assets/js/jquery.prettyPhoto.js"></script>
    <script src="{$basedomain}assets/js/jquery.isotope.min.js"></script>
    <script src="{$basedomain}assets/js/main.js"></script>
    <script src="{$basedomain}assets/js/mainpopup.js"></script>
    <script src="{$basedomain}assets/js/wow.min.js"></script>
    <script src="{$basedomain}assets/js/bootstrap-submenu.js" defer></script>
    <script src="{$basedomain}assets/js/jquery.maskedinput.js" defer></script>
    <script src="{$basedomain}assets/js/globalHelper.js" defer></script>
    <script src="{$basedomain}assets/js/jquery.form.js"></script>
	
</body>
</html>