<!--Popup-->
    <link rel="stylesheet" href="{$basedomain}assets/css/resetpopup.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="{$basedomain}assets/css/stylepopup.css"> <!-- Resource style -->
    
    <script src="{$basedomain}assets/js/modernizr.js"></script> <!-- Modernizr -->
<!--Popup-->
<div class="cd-popup-trigger"></div>
<section id="contact-info">
        <div class="center">                
            <h2>Reset akun</h2>
            <p class="lead">&nbsp;</p>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form action="{$basedomain}login/forgot" method="post" id="resetakun">
                <input type="text" name="email" class="form-control" value="" size="20" id="username" placeholder="Type your Email"/>
                <br>
                <button id="btn-dis" class="btn btn-info" type="submit" name="submit">
                    <i class="fa fa-save"></i> Reset Akun</button>   
                </form>
            </div>

            <div class="col-sm-4"></div>
        </div>
        

    </section>


        