
<body class="homepage">

    <header id="header">
        <div class="top-bar">
             
            <div class="container">
                <div class="row">
                   
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>   021-4245523 / 4244691 (ext. 1075)</p></div>
                    </div>
					
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            {*}<ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                           {/*}
                       </div>
                    </div>
					
                </div>
            </div><!--/.container-->
            
            <div class="row" style=" background-image: url({$basedomain}assets/images/head_1.png); background-repeat: no-repeat; height:60px; margin-left:80px">&nbsp;
			{*}<img src="{$basedomain}assets/images/logo.png" width="100%" height="100px"/>
			<h1 style="margin-top:34px; margin-left:36px ">E-Tobacco Control</h1>{/*}
			</div>
			
        </div><!--/.top-bar-->

        <nav id="nav_bar" class="navbar navbar-inverse fadeInDown" role="banner" style="border-bottom:2px solid #006837">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{$basedomain}">
                    	{*}
                    	<img src="{$basedomain}assets/images/logo.png" width="100%" height="100%"/>{/*}
                    	E-Tobacco Control
                    </a>
                </div>
               
				<div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <!--<li><a href="{$basedomain}about_us">About Us</a></li>-->
						 
                        {if $user}
                        
                        <li><a href="{$basedomain}account/industri">Produsen / Importir</a></li> 
                        <li><a href="{$basedomain}account/pabrik">Lokasi Pabrik</a></li> 
                        

                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Pelaporan <i class="fa fa-angle-down"></i></a>
							 <ul class="dropdown-menu">
                                <li><a href="{$basedomain}account/pelaporan">Kemasan</a></li>
                                <li><a href="{$basedomain}account/pelaporan_nikotin">Nikotin dan TAR</a></li>
                                <li><a href="{$basedomain}account/posting">Posting Laporan</a></li>
                            </ul>
						
						</li>
						<li class="dropdown"><a href="{$basedomain}account"  class="dropdown-toggle" data-toggle="dropdown"> Hi,  {$user.default.name}{*}<i class="fa fa-angle-down"></i>{/*}</a>
							 <ul class="dropdown-menu">
                                <li><a href="{$basedomain}account/notifikasi">Notifikasi{*}<span class="badge">42</span>{/*}</a></li>
                                <li><a href="{$basedomain}account/profile">Profil</a></li>
                                <li><a href="{$basedomain}logout.php">Logout</a></li>
                               
                            </ul>
						
						</li>

						 
                        {else}
                        <li><a href="{$basedomain}home">Beranda</a></li>
                        
                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Profil <i class="fa fa-angle-down"></i></a>
                             <ul class="dropdown-menu">
                                <li><a href="{$basedomain}profile/visimisi">Visi Misi</a></li>
                                <li><a href="{$basedomain}profile">Struktur Organisasi</a></li>
                                <li><a href="{$basedomain}profile/tupoksi">Tugas Pokok dan Fungsi</a></li>
                            </ul>
                        
                        </li>
                        <li><a href="{$basedomain}news">Berita</a></li>
                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Publikasi <i class="fa fa-angle-down"></i></a>
                             <ul class="dropdown-menu">
                                <li><a href="{$basedomain}publikasi/peraturan">Peraturan dan Kebijakan</a></li>
                                <li><a href="{$basedomain}publikasi/penelitian">Hasil Penelitian</a></li>
                               
                            </ul>
                        
                        </li>
                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Labeling <i class="fa fa-angle-down"></i></a>
                             <ul class="dropdown-menu">
                                <li><a href="{$basedomain}label/pengawasan">Tentang Pengawasan Label</a></li>
                                <li><a href="{$basedomain}label/galeri">Label Produk Tembakau</a></li>
                               
                            </ul>
                        
                        </li>
                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Informasi <i class="fa fa-angle-down"></i></a>
                             <ul class="dropdown-menu">
                                {*}<li><a href="{$basedomain}informasi/prosedur">Alur Prosedur</a></li>{/*}
                                <li><a href="{$basedomain}informasi/pengaduan">Saran dan Pengaduan</a></li>
                               {*}<li><a href="{$basedomain}informasi/petunjuk">Petunjuk Penggunaan</a></li>{/*}
                               <li><a href="{$basedomain}informasi/faq">FAQ</a></li>
                            </ul>
                        
                        </li>
                        <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Sistem Pelaporan <i class="fa fa-angle-down"></i></a>
                             <ul class="dropdown-menu">
                                <li><a href="{$basedomain}informasi/prosedur">Alur Prosedur</a></li>
                                <li><a href="{$basedomain}informasi/petunjuk">Petunjuk Penggunaan</a></li>
                               <li><a href="{$basedomain}login">Login</a></li>
                            </ul>
                        
                        </li>
                        {*}<li><a href="{$basedomain}contact">Contact Us</a></li>
                        <li><a href="{$basedomain}login">Sistem Pelaporan</a></li>{/*}
                        {/if}                   
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->