{include file="slider.html"}
<div id="headline" align="left">
                <div class="headnews" align="left">
                    <div class="teksHead">Headline News </div>
                </div>
                <div class="news" align="right">
                    <div class="teksNews" align="left">

                        
                        <div class="picHeadline" style="padding:10px;">
                            <img src="{$basedomain}assets/images/tembakau.jpg" width="20%" height="50%" />
                        </div>
                           
                        <div class="picHeadline1" style="padding:20px 10px 10px 10px;">
                            <img src="{$basedomain}assets/images/cigarette_composition.gif" width="20%" height="50%" />
                        </div>

                       
                        <table border="1" style="margin-left:10px;margin-right:10px; margin-top:-272px; width:600px;" align="right">
                            <tr>
                                <td style="font-size:17px;" >Pelanggaran Gambar</td>
                            </tr>
                            <tr>
                                <td style="font-size:12px;border-bottom: 1px solid #999999; padding-right:10px;">Senin, 20/10/2014</td>
                            </tr>
                            <tr>
                                <td width="90%" style="color:#666666;">
                                    Salah satu perusahan rokok tidak mencantumkan gambar yang telah ditetapkan oleh pemerintah.Salah satu perusahan rokok tidak mencantumkan gambar yang telah ditetapkan oleh..
                                    <br>
                                    <a href="#">Read More...</a><br><br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:17px;" >Pelanggaran TAR</td>
                            </tr>
                             <tr>
                                <td style="font-size:12px;border-bottom: 1px solid #999999; padding-right:10px;">Senin, 20/10/2014</td>
                            </tr>
                            <tr>
                                <td width="90%" style="color:#666666;">
                                    Salah satu perusahan rokok tidak mencantumkan TAR yang telah ditetapkan oleh pemerintah.Salah satu perusahan rokok tidak mencantumkan gambar yang telah ditetapkan oleh..<br>
                                    <a href="#">Read More...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="grafik" align="right">
                <div class="headgrafik">
                    <div class="teksHead" align="left">Statistik</div>
                </div>
                <div class="statistik" align="center">                  
                    <img width="100%" height="100%" alt="statistik" src="{$basedomain}assets/images/examplechart.png" />                 
                </div>
            </div>