{include file="slider.html"}
<section id="recent-works">
        <div class="container">
            <!-- <div class=" wow fadeInDown"> -->
            <div class="row">

                <div class="col-md-8">

                    <h2 class="line-bottom"><i class="fa fa-plus-square-o"></i> Headline News</h2>
                    <p class="lead" align="left"> {*}{$val1.content}{/*}</p>

                    <div class="row">

                        {if $data}
                        {foreach $data as $val}
                        <div class="col-md-12 section-news" >
                            <div class="row">
                                 <div class="col-md-4">
                                    {if $val.image}
                                      <img class="thumbnail" src="{$basedomain}public_assets/{$val.image}" width="100%" height="200px"/> 
                                    {/if}
                                 </div>

                                 <div class="col-md-8">
                                    <span class="title-news"><a href="{$basedomain}news/detailnews/?id={$val.id}">{$val.title}</a></span><br/>
                                    <span>by administrator on {$val.changeDate}</span>
                                    <div class="content-news">
                                      {$val.brief}...
                                      <a href="{$basedomain}news/detailnews/?id={$val.id}" style="color:#068FC8"><i>Baca Selengkapnya</i></a>
                                    </div>

                                 </div>
                            </div>
                        </div>

                        {/foreach}
                        {/if}
                        <div class="col-md-12" align="center">
                            <a href="{$basedomain}news" class="btn btn-info">Berita Lainnya <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    {*}
                    <table class="table" border="0">
                    
                            
                        <!--    <img align="center" class="img-responsive img-blog" width="70%" height="60%" border="0" src="{$basedomain}public_assets/{$val.image}"/> -->
                        
                            {if $data}
                            {foreach $data as $val}
                            <th bgcolor="#8bc349"  colspan="3">{$val.title}</th>
                              <tr>
                                <td height="230" width="250" >
                                {if $val.image}
                                <img align="center" class="col-sm-12" border="0" src="{$basedomain}public_assets/{$val.image}" width="100%" height="100%"/> 
                                {/if}
                                </td>
                                <td>
                                    <h2><a href="{$basedomain}news/detailnews/?id={$val.id}">{$val.title}</a></h2>
                                    <p>
                                        {$val.brief}
                                    </p>
                                </td>
                                
                              </tr>
                            {/foreach}
                            {/if}
                           
                
                    </table>
                    {/*}
                </div>
                
                <div class="col-md-4">
                    <div class="row">
                     <div class="col-md-12">
                        <h2 class="line-bottom"><i class="fa fa-bar-chart-o"></i> Statistik</h2>
                        <p class="lead" align="justify"> {*}{$val1.content}{/*}</p>
                        {if $statistik}
                        <a href="#" class="thumbnail">
                          <img src="{$basedomain}public_assets/{$statistik.files}" width="100%">
                        </a>
                        {/if}
                     </div>
                     <div class="col-md-12">
                        <h2 class="line-bottom"><i class="fa fa-video-camera"></i> Video</h2>
            
                        <!-- <div class="thumbnail"> -->
                         <iframe width="100%" height="315px" src="https://www.youtube.com/embed/AumUtimZRnA" frameborder="0" allowfullscreen></iframe>

                        <!-- </div> -->
                     </div>
                     <div class="col-md-12">
                        <h2 class="line-bottom"><i class="fa fa-users"></i> Visitor</h2>
                        <a href="#" class="thumbnail">
                          <img src="{$basedomain}assets/images/statistik.jpg" width="100%">
                        </a>
                     </div>
                    </div>
                     <div class="col-md-12">
                        <h2 class="line-bottom"><i class="fa fa-link"></i> Link Terkait</h2>
                        <ul class="link-terkait">
                            <li><a href="http://www.pom.go.id/" target="_blank"><i class="fa fa-external-link"></i> Badan POM</a></li>
                        </ul>
                     </div>
                    </div>




                </div>

            {*}<div class="row">
            
            {if $data}
                {foreach $data as $val } 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap" style="width:250px;height:260px;border:1px solid #b8c4e8;">
                        <img class="img-responsive" src="{$basedomain}{$val.image}" alt="" style="position:center">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="{$basedomain}about_us/partner/?id={$val.id}" rel="prettyPhoto"><i class="fa fa-eye"></i> Detail</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            
                {/foreach}
            {/if} 
            </div><!--/.row-->
            {/*}
        </div><!--/.container-->
    </section><!--/#recent-works-->
     