{include file="slider.html"}
<section id="recent-works">
        <div class="container">
            <div class=" wow fadeInDown">

                <div class="col-md-8">
                    <h2 align="left" >Headline News</h2>
                    <p class="lead" align="left"> {*}{$val1.content}{/*}</p>
                    <table class="table" border="0">
                    
                            
                        <!--    <img align="center" class="img-responsive img-blog" width="70%" height="60%" border="0" src="{$basedomain}public_assets/{$val.image}"/> -->
                        
                            {if $data}
                            {foreach $data as $val}
                            <th bgcolor="#8bc349"  colspan="3">{$val.title}</th>
                              <tr>
                                <td height="140" width="236" >
                                {if $val.image}
                                <img align="center" class="col-sm-12" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
                                {/if}
                                </td>
                                <td>
                                    <h2><a href="{$basedomain}news/detailnews/?id={$val.id}">{$val.title}</a></h2>
                                    <p>
                                        {$val.content}
                                    </p>
                                </td>
                                
                              </tr>
                            {/foreach}
                            {/if}
                           
                
                    </table>
                </div>
                
                <div class="col-md-4">
                    <h2 align="center" >Statistik</h2>
                    <p class="lead" align="justify"> {*}{$val1.content}{/*}</p>
                    <img src="{$basedomain}assets/images/grafik.jpg" width="100%">
                </div>

            <div class="row">
            {*}
            {if $data}
                {foreach $data as $val } 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap" style="width:250px;height:260px;border:1px solid #b8c4e8;">
                        <img class="img-responsive" src="{$basedomain}{$val.image}" alt="" style="position:center">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="{$basedomain}about_us/partner/?id={$val.id}" rel="prettyPhoto"><i class="fa fa-eye"></i> Detail</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            
                {/foreach}
            {/if} 
            {/*}
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->