<div class="contact">
            <div class="headContact">
                <div class="teksHead" align="left">Contact Us </div>
            </div>
            <div id="detailContact">
                <div class="teksContact">
                    <p>Direktorat Badan Narkoba Psikotropika dan Zat Adiktif, Suplemen Makanan & Kosmetik
                    
                    <br/><br/><p>Jln Percetakan Negara No.23, Gedung D, Lt II
                    <p>Telp/Fax: 021-4244819/42802319
                    <p>Email: napza@pom.go.id
                    
                    <br/><br/><p style="color:#FF0000;">Jln Percetakan Negara No.23, D-Building, 2nd Floor
                    <p style="color:#FF0000;">Phone/Fax: 021-4244819/42802319
                    <p style="color:#FF0000;">Email: napza@pom.go.id
                    
                    <br/><br/><p>Badan Pengawas Obat dan Makanan Republik Indonesia
                    <div class="comment">
                        <form method="post" action="">
                             <table class="tableComment">
                                <tr style="margin-bottom:10px;">
                                   <td>Subject</td><td>:</td>
                                   <td><input type="text" name="username" value="" size="20" id="username" placeholder ="Subject"/> </td>
                                </tr>
                                <tr>
                                   <td>Email</td><td>:</td>
                                   <td><input type="text" name="password" value="" size="20" id="password" placeholder ="Email"/></td>
                                </tr>
                                <tr>
                                   <td>Comment</td><td>:</td>
                                   <td><textarea style="width:300px; height:100px;"></textarea></td>
                                </tr>                                 
                                <tr>
                                   <td colspan="3" align="right">            
                                       <input class="form-btn-save" type="submit" id="save" value="Send" /> &nbsp;&nbsp;
                                       <input class="form-btn-close" type="reset" value="Cancel" /> &nbsp;&nbsp;
                                  </td>
                                </tr>
                             </table>
                         </form>
                    <div class="lokasi" align="right"><img title="Lokasi" class="peta" alt="peta" src="{$basedomain}assets/images/peta.png" width="30%" height="30%"/></div>
                                    
                </div>                          
            </div>
         </div>        
    </div>