<div id="head"> 
        <div id="linebg"></div>
        <div id="headbg"></div>
        <div id="logo"></div>
        <div id="menu">
            <a href="{$basedomain}">Home</a>
            <a href="{$basedomain}news">News</a>
            <a href="{$basedomain}profile">Profile</a>
            <a href="{$basedomain}contact">Contact Us</a>
        </div>
        <div id="search" align="right" style="margin-top:-90px;margin-right:235px;">
                <input type="text" id="search" placeholder ="Searching" /> &nbsp; <input class="form-btn-register" type="button" value="Search" name="search" id="seacrh" />            
        </div>
        <div id="login" align="right" style="margin-top:46px;margin-right:235px;">
            <a href="#" onclick="login()">Login</a>
        </div>
    </div>