
<div class="container" style="margin-top:15px">

        <ol class="breadcrumb">
          <li><a href="#">Beranda</a></li>
          <li class="active">News</li>
        </ol>
    </div>
<section id="blog" class="container">
        
        <div class="center">
            <h2>Berita Terkini</h2>
            
        </div>

        <div class="blog">
            <div class="row">
                 <div class="col-md-8">

                    <h2 class="line-bottom"><i class="fa fa-plus-square-o"></i> Berita Terkini</h2>
                 <div class="row">
                     {if $data}
                        {foreach $data as $val}
                        <div class="col-md-12 section-news" >
                            <div class="row">
                                 <div class="col-md-4">
                                    {if $val.image}
                                      <img class="thumbnail" src="{$basedomain}public_assets/{$val.image}" width="100%" height="200px"/> 
                                    {/if}
                                 </div>

                                 <div class="col-md-8">
                                    <span class="title-news"><a href="{$basedomain}news/detailnews/?id={$val.id}">{$val.title|html_entity_decode}</a></span><br/>
                                    <span>by administrator on {$val.changeDate}</span>
                                    <div class="content-news">
                                      {$val.brief|html_entity_decode}...
                                      <a href="{$basedomain}news/detailnews/?id={$val.id}" style="color:#068FC8"><i>Baca Selengkapnya</i></a>
                                    </div>

                                 </div>
                            </div>
                        </div>

                        {/foreach}
                        {/if}

                        <div class="col-md-12" align="center">
                            <ul class="pagination pagination-lg">
                                <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                                <li class="active"><a href="#">1</a></li>
                                {*}<li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>{/*}
                                <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                            </ul><!--/.pagination-->
                        </div>
                    </div>

                    {*}
                    {if $data}
                    {foreach $data as $val}
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">{$val.changeDate}</span>
                                    <span><i class="fa fa-user"></i> <a href="#">NAPZA</a></span>
                                    
                                </div>
                            </div>
                                
                            <div class="col-xs-12 col-sm-10 blog-content" align="justify">
                                {if $val.image}
                                <a href="#">
                                    <img class="img-responsive img-blog" src="{$basedomain}public_assets/{$val.image}" width="50%"  alt="" />
                                </a>
                                {/if}
                                <h2><a href="{$basedomain}news/detailnews/?id={$val.id}">{$val.title|html_entity_decode}</a></h2>
                                <h3>{$val.brief|html_entity_decode}</h3>
                                <a class="btn btn-primary readmore" href="{$basedomain}news/detailnews/?id={$val.id}">Detail <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                    {/foreach}
                    {/if}
                    {/*}
                    {*}
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">1 Nov 2014</span>
                                    <span><i class="fa fa-user"></i> <a href="#">NAPZA</a></span>
                                    
                                </div>
                            </div>
                                
                            <div class="col-xs-12 col-sm-10 blog-content" align="justify">
                                
                                <a href="#">
                                    <img class="img-responsive img-blog" src="{$basedomain}public_assets/news-2.jpg" width="100%"  alt="" />
                                </a>
                                
                                <h2><a href="{$basedomain}news/detailnews/?id={$val.id}">Penerapan PHW Pada 31 Oktober 2014 Mencapai 67,90%</a></h2>
                                <h3>Peringatan Kesehatan Berbentuk Gambar dan Tulisan (Pictorial Health Warning/PHW) pada kemasan produk tembakau merupakan kebijakan tingkat nasional yang sangat dibanggakan oleh Indonesia sebagai negara yang belum mengaksesi FCTC (Framework Convention on Tobacco Control). </h3>
                                <a class="btn btn-primary readmore" href="{$basedomain}news/detailnews/?id={$val.id}">Detail <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                    
                    
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
                      {/*} 
                </div><!--/.col-md-8-->
                <aside class="col-md-4">
                    <div class="row">
                         <div class="col-md-12">
                            <h2 class="line-bottom"><i class="fa fa-search"></i> Pencarian</h2>
                           <div class="widget search">
                                <form method="POST" action="{$basedomain}news/search" role="form">
                                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here" name="req">
                                </form>
                            </div><!--/.search-->
                         </div>
                        
                         <div class="col-md-12">
                            <h2 class="line-bottom"><i class="fa fa-file-text-o"></i> Recent POST</h2>
                            <ul class="link-terkait">

                             {if $data}
                                {foreach $data as $val}
                                <li><a href="{$basedomain}news/detailnews/?id={$val.id}"><i class="fa fa-plus"></i> {$val.title|html_entity_decode}</a></li>
                                {/foreach}
                            {/if}
                            </ul>
                         </div>
                        </div>
                    
                    
                
                     

                    {*}
                    <div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Agustus 2014 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2014 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2014 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2014 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.archieve-->
                    {/*}
                </aside>  
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->

