<div class="contentNews">
            <div class="detailNews">
              <div class="headDetail">
                <div class="teksHead" align="left">News </div>
              </div>
              <div class="detail">
                <table>
                    <tr>
                        <td style="font-weight:bold;border-bottom:3px double; font-size:17px;">Tembakau</td>
                    </tr>
                    <tr>
                        <td style="text-align:justify; text-indent:30px;color:#666666;font-family:Arial, Helvetica, sans-serif;">
                            <p>Tembakau adalah hasil bumi yang diproses dari daun tanaman yang juga dinamai sama. Tanaman tembakau terutama adalah Nicotiana tabacum dan Nicotiana rustica, meskipun beberapa anggota Nicotiana lainnya juga dipakai dalam tingkat sangat terbatas.

<p>Tembakau adalah produk pertanian semusim yang bukan termasuk komoditas pangan, melainkan komoditas perkebunan. Produk ini dikonsumsi bukan untuk makanan tetapi sebagai pengisi waktu luang atau "hiburan", yaitu sebagai bahan baku rokok dan cerutu. Tembakau juga dapat dikunyah. Kandungan metabolit sekunder yang kaya juga membuatnya bermanfaat sebagai pestisida dan bahan baku obat.
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;border-bottom:3px double;font-size:17px;" > Cengkeh</td>
                    </tr><tr><td></td></tr>
                    <tr>
                        <td style="text-align:justify; text-indent:30px;color:#666666;font-family:Arial, Helvetica, sans-serif;">
                            Cengkih (Syzygium aromaticum, syn. Eugenia aromaticum), dalam bahasa Inggris disebut cloves, adalah tangkai bunga kering beraroma dari keluarga pohon Myrtaceae. Cengkih adalah tanaman asli Indonesia, banyak digunakan sebagai bumbu masakan pedas di negara-negara Eropa, dan sebagai bahan utama rokok kretek khas Indonesia. Cengkih ditanam terutama di Indonesia (Kepulauan Banda) dan Madagaskar; selain itu juga dibudidayakan di Zanzibar, India, dan Sri Lanka.
                        </td>
                    </tr>
                </table>
              </div>
            </div>
         <div class="listNews">
              <div class="headlist">
                <div class="teksHead" align="left" style="color:#FFFFFF;">List News </div>
              </div>
              <div class="list">
                <div class="site_list" align="left">
                    <h1>News A</h1>
                    <ul>
                        <li><a href="#">News 1</a></li>
                        <li><a href="#">News 2</a></li>
                        <li><a href="#">News 3</a></li>
                        <li><a href="#">News 4</a></li>
                        <li><a href="#">News 5</a></li>
                    </ul><br />
                    <h1>News B</h1>
                    <ul>
                        <li><a href="#">News 1</a></li>
                        <li><a href="#">News 2</a></li>
                        <li><a href="#">News 3</a></li>
                        <li><a href="#">News 4</a></li>
                        <li><a href="#">News 5</a></li>
                    </ul><br />
                    
                </div>
              </div>
         </div>
         </div>