<div class="profile">
            <div class="headProfile">
                <div class="teksHead" align="left">Profile Napza </div>
            </div>
            <div id="detailProfile">
                <div class="teksProfile">
                    
                    <div class="picStruktur" align="center" style="padding-bottom:10px;">PROFILE DIREKTORAT PENILAIAN ROKOK 
                    <img alt="struktur" src="{$basedomain}assets/images/struktur.png" width="70%" height="70%" align="middle" /></div>
                   
                    <p style="color:#666666;">Direktorat Penilaian Tembakau, Suplemen Makanan dan Kosmetik merupakan salah satu dari 4 (empat) direktorat di Kedeputian Bidang Pengawasan Obat Tradisional, Kosmetik dan Produk Komplemen. Direktorat Penilaian Obat Tradisional, Suplemen Makanan dan Kosmetik dalam menjalankan Visi dan Misi Badan POM melaksanakan pengawasan Pre-Market Evaluation di bidang pendaftaran obat tradisional, suplemen makanan dan notifikasi kosmetika.

Berdasarkan Keputusan Kepala Badan Pengawas Obat dan Makanan Nomor 02001/SK KBPOM Direktorat Penilaian Obat Tradisional, Suplemen Makanan dan Kosmetik sebagaimana telah diubah dengan Keputusan Kepala Badan Pengawas Obat dan Makanan Nomor HK.00.05.21.4231 Tahun 2004 bahwa Direktorat Penilaian Obat Tradisional, Suplemen Makanan dan Kosmetik mempunyai tugas :

"Penyiapan Perumusan Kebijakan, Penyusunan Pedoman, Standar, Kriteria dan Prosedur, serta Pelaksanaan Pengendalian, Bimbingan Teknis dan Evaluasi di Bidang Penilaian Obat Tradisional, Suplemen Makanan dan Kosmetika"
                </div>
            </div>
         </div> 