<section id="contact-info">
        <div class="">  
        {if $data}
            {foreach $data as $val}              
            <div class="center"><h2>{$val.title}</h2></div>
            <p class="lead">&nbsp;</p>

            <div class="row">
                <div class="col-md-2"></div>
            
            <div class="col-md-8">
                {if $val.image}
                <img src="{$basedomain}public_assets/{$val.image}" width="100%">
                {/if}
            </div>
            <div class="col-md-2"></div>
                
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
            
            <div class="col-md-8">
                
                <p>{$val.content}</p>
            </div>
            <div class="col-md-2"></div>
            
            </div>
            {/foreach}
        {/if}
        </div>
        
    </section>  <!--/gmap_area -->