<div id="wrapper">        
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="{$basedomain}assets/images/moukemdagbpom.jpg" data-thumb="{$basedomain}assets/images/moukemdagbpom.jpg" alt="" title="Penandatanganan Nota Kesepahaman tentang Kerja Sama Pengawasan Barang yang Dilarang atau Dibatasi (Lartas) di Tempat Pemasukan dan Pengeluaran serta Pengawasan Barang Beredar di Pasar - Jakarta, 18 Desember 2013"/>
                        <img src="{$basedomain}assets/images/pu_kabpom_srisultan_2014.jpg" data-thumb="{$basedomain}assets/images/pu_kabpom_srisultan_2014.jpg" alt="" title="Audiensi Kepala Badan POM dengan Gubernur DI Yogyakarta dan Rektor UGM untuk menggalang kemitraan - Yogyakarta, 14 Maret 2014" /></a>
                        
                        <img src="{$basedomain}assets/images/pu_semarang_2014.jpg" data-thumb="{$basedomain}assets/images/pu_semarang_2014.jpg" alt="" data-transition="slideInLeft" title="Penandatanganan Perjanjian Kerjasama antara Badan POM dengan Pemerintah Provinsi Jawa Tengah tentang Pengawasan Obat dan Makanan Secara Terpadu - Semarang, 21 Maret 2014"/>{*}
                        <img src="{$basedomain}assets/images/nemo.jpg" data-thumb="{$basedomain}assets/images/nemo.jpg" alt="" title="#htmlcaption" />{/*}
                    </div>
                </div>        
            </div>