<section id="main-slider" class="no-margin hidden-xs">
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 250px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('{$basedomain}assets/css/imgloading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1000px; height: 250px; overflow: hidden;">

        {if $slideshow}
        {foreach $slideshow as $k => $val}

            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="{$basedomain}public_assets/{$val.files}" />
            </div>

        {/foreach}
        {/if}
            {*}<div data-p="112.50" style="display: none;">
                <img data-u="image" src="{$basedomain}assets/images/img04.jpg" />
            </div>
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="{$basedomain}assets/images/img05.jpg" />
            </div>
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="{$basedomain}assets/images/img09.jpg" />
            </div>{/*}
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        {*}
        <span data-u="arrowleft" class="jssora12l" style="top:0px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora12r" style="top:0px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
        {/*}
    </div>
    {*}
        <div class="carousel slide">
            <ol class="carousel-indicators">
                {if $slideshow}
                {foreach $slideshow as $k => $val}
                <li data-target="#main-slider" data-slide-to="{$k}" class="{if $k==0}active{/if}"></li>
               <!--  <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>-->
                {/foreach}
                {/if}
            </ol>
            <div class="carousel-inner">

            
				{if $slideshow}
                {foreach $slideshow as $k => $val}
				 <div class="item {if $k==0}active{/if}" style="background-image: url({$basedomain}public_assets/{$val.files})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                      
                                      <h1 class="animation animated-item-1">{$val.title}</h1>
                                   <!--  <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a> -->
                                </div>
                            </div>
                          <!--   
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{$basedomain}public_assets/ouractivity/catalog.png" class="img-responsive">
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div><!--/.item-->
                {/foreach}
				{/if}


            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
        {/*}
    </section><!--/#main-slider-->


