
<section id="recent-works">
        <div class="container">
        <div class="center">                
            <h2>Gallery Album</h2>
            <p class="lead">&nbsp;</p>

            <div class="row">
            	<div class="col-md-2"></div>
                <div class="col-md-8" style="text-align:left">
                	<p>{$val.content}</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <div class="col-md-3">
                <!-- POST ITEM -->
                <div class="blog-post-item"><!-- .blog-post-item-inverse = image right side [left on RTL] -->
                  <!-- IMAGE -->
                  <figure class="blog-item-small-image margin-bottom-20">
                   <a href="{$basedomain}label/galerijenis"> <img alt="" src="{$basedomain}assets/demo/rokok.jpg" width="100%"></a>
                  </figure>
                   <a href="{$basedomain}label/galerijenis"> <h3 align="center">Rokok</h3></a>
                </div>
              </div>
                <!-- /POST ITEM -->
              <div class="col-md-3">
                <!-- POST ITEM -->
                <div class="blog-post-item"><!-- .blog-post-item-inverse = image right side [left on RTL] -->

                  <!-- IMAGE -->
                  <figure class="blog-item-small-image margin-bottom-20">
                   <a href="{$basedomain}label/galerijenis"> <img alt="" src="{$basedomain}assets/demo/rokok.jpg" width="100%"></a>
                  </figure>

                   <a href="{$basedomain}label/galerijenis"> <h3 align="center">Rokok</h3></a>
                </div>
              </div>
                <!-- /POST ITEM -->
              <div class="col-md-3">
                <!-- POST ITEM -->
                <div class="blog-post-item"><!-- .blog-post-item-inverse = image right side [left on RTL] -->

                  <!-- IMAGE -->
                  <figure class="blog-item-small-image margin-bottom-20">
                   <a href="{$basedomain}label/galerijenis"> <img alt="" src="{$basedomain}assets/demo/rokok.jpg" width="100%"></a>
                  </figure>

                   <a href="{$basedomain}label/galerijenis"> <h3 align="center">Rokok</h3></a>
                </div>
              </div>
                <!-- /POST ITEM -->
              <div class="col-md-3">
                <!-- POST ITEM -->
                <div class="blog-post-item"><!-- .blog-post-item-inverse = image right side [left on RTL] -->

                  <!-- IMAGE -->
                  <figure class="blog-item-small-image margin-bottom-20">
                   <a href="{$basedomain}label/galerijenis"> <img alt="" src="{$basedomain}assets/demo/rokok.jpg" width="100%"></a>
                  </figure>

                   <a href="{$basedomain}label/galerijenis"> <h3 align="center">Rokok</h3></a>
                </div>
              </div>
                <!-- /POST ITEM -->
              </div>
            </div>
        </div>
        </div>
    </section>  <!--/gmap_area -->