<section id="contact-info">
        <div class="">  
        {if $data}
            {foreach $data as $val}              
            <div class="center"><h2>{$val.title}</h2></div>
            <p class="lead">&nbsp;</p>

            <div class="row">
            	<div class="col-md-2"></div>
            {if $val.image}
            <div class="col-md-8">
            	<img src="{$basedomain}public_assets/{$val.image}" width="100%">
            </div>
            {/if}
            <div class="col-md-2"></div>
            
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
            
            <div class="col-md-8">
                
                <p>{$val.content}</p>
            </div>
            <div class="col-md-2"></div>
            
            </div>
            {/foreach}
        {/if}
        </div>
        <div class="row">
                <div class="col-md-2"></div>
            
            <div class="col-md-8">
                
                <p><a href="{$basedomain}public_assets/PerKBPOM.pdf" target="_blank">PMK No. 28 ttg Peringatan dan Informasi Pada Kemasan Produk Tembakau<a/></p>
                <p><a href="{$basedomain}public_assets/PP_109_tahun_2012.pdf" target="_blank">PerKBPOM No 41 Tahun 2013 Tentang Pengawasan Produk Tembakau yang Beredar<a/></p>
                <p><a href="{$basedomain}public_assets/PMK_No_28.pdf" target="_blank">PP 109 tahun 2012 tentang PENGAMANAN BAHAN YANG MENGANDUNG ZAT ADIKTIF BERUPA PRODUK TEMBAKAU BAGI KESEHATAN<a/></p>
            </div>
            <div class="col-md-2"></div>
            
            </div>
    </section>  <!--/gmap_area -->