<style type="text/css">
	.menutab-gallery{
		margin-top: 30px;
	}
	.content-gallery{
		border:1px solid #eee;
	}
	.list-jenis{
		margin-top: 30px;
	}
</style><div class="container" style="margin-top:15px">

        <ol class="breadcrumb">
          <li><a href="#">Beranda</a></li>
          <li><a href="#">Labeling</a></li>
          <li><a href="#">Galeri Merek</a></li>
          <li><a href="#">Album</a></li>
          <li class="active">Detail</li>
        </ol>
    </div>
<section id="recent-works">
        <div class="container">
        <div class="row">
        	<form method="" action="#">
        	<div class="col-md-10">
				  <input type="text" class="form-control" placeholder="Pencarian Data" aria-describedby="basic-addon2">
        	</div>
        	<div class="col-md-1">
        	<button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        	</div>
			</form>
        </div>
        <div class="row menutab-gallery" >
        	 <ul class="nav nav-tabs responsive hidden-xs hidden-sm">
        <li class="test-class "><a class="deco-none misc-class" href="{$basedomain}label/galeri"><i class="fa fa-th-list"></i>  Jenis</a></li>
        <li class="test-class active"><a href="#"><i class="fa fa-th-large"></i> Merek</a></li>
      </ul>

      <div class="tab-content responsive hidden-xs hidden-sm">
	        <div class="tab-pane active" id="jenis">

	         <div class="row">
              <div class="col-md-8">

              	{if $merek}
              	{foreach $merek as $k => $val}
	              <div class="col-md-{if $k==0}12{else}4{/if}">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}public_assets/{$val.files}" class="thumbnail doodles">
		                  <img src="{$basedomain}public_assets/{$val.files}" width="100%">
		                </a>
	                </div>
	              </div>
	            {/foreach}
              	{/if}
              	{*}
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/images.jpeg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/images.jpeg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/images2.jpeg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/images2.jpeg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/images.jpeg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/images.jpeg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/rokok.jpg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/rokok.jpg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/rokok.jpg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/rokok.jpg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/images.jpeg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/images.jpeg" width="100%">
		                </a>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <!-- POST ITEM -->
	                <div class="blog-post-item">
						<a href="{$basedomain}assets/demo/images2.jpeg" class="thumbnail doodles">
		                  <img src="{$basedomain}assets/demo/images2.jpeg" width="100%">
		                </a>
	                </div>
	              </div>
	            {/*}
              </div>
              {if $merek}
              <div class="col-md-4">
               <p class="brand family 17"><b>Produsen:</b> {$album.fromwho}</p>
			    <p class="product 15"><b>Merek:</b> {$merek.0.title}</p>
			    {*}<p class="country 16"><b>country:</b> Indonesia</p>
			    <p class="city 0"><b>city:</b> Semarang</p>
			    <p class="purchase date 19"><b>purchase date:</b> November 2013</p>{/*}
			    <p class="price 13"><b>Harga di pita cukai:</b> {$album.hargacukai}</p>
			    <p class="price 13"><b>Harga pasar:</b> {$album.hargapasar}</p>
              </div>
              {/if}
            </div>

	        </div>


	      </div>

        </div>

        </div>
</section>