<style type="text/css">
	.menutab-gallery{
		margin-top: 30px;
	}
	.content-gallery{
		border:1px solid #eee;
	}
	.list-jenis{
		margin-top: 30px;
	}
</style>
<section id="recent-works">
        <div class="container">
        <div class="row">
        	<form method="" action="#">
        	<div class="col-md-10">
				  <input type="text" class="form-control" placeholder="Pencarian Data" aria-describedby="basic-addon2">
        	</div>
        	<div class="col-md-1">
        	<button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        	</div>
			</form>
        </div>
        <div class="row menutab-gallery" >
        	 <ul class="nav nav-tabs responsive hidden-xs hidden-sm">
        <li class="test-class active"><a class="deco-none misc-class" href=""><i class="fa fa-th-list"></i>  Jenis</a></li>
        <li><a href="{$basedomain}label/gallerymerek"><i class="fa fa-th-large"></i> Merek</a></li>
      </ul>

      <div class="tab-content responsive hidden-xs hidden-sm">
	        <div class="tab-pane active" id="jenis">
	        	<div class="row list-jenis">
	        		<a href="{$basedomain}label/galerijenis" class="btn btn-info">Uses standard bootstrap tab markup <i class="fa fa-location-arrow"></i></a>
	        	</div>
	        	<div class="row list-jenis">
	        	<a href="{$basedomain}label/galerijenis" class="btn btn-info">Accordion is created with jquery <i class="fa fa-location-arrow"></i></a>
	        	</div>
	        	<div class="row list-jenis">
	        	<a href="{$basedomain}label/galerijenis" class="btn btn-info">Tabs and Accordion are the fully accessible via keyboard <i class="fa fa-location-arrow"></i></a>
	        	</div>
	        	<div class="row list-jenis">
	        	<a href="{$basedomain}label/galerijenis" class="btn btn-info">Supports multiple tabs on a page, with or without being responsive <i class="fa fa-location-arrow"></i></a>
	        	</div>
	        </div>


	      </div>

        </div>

        </div>
</section>