<div class="container" style="margin-top:15px">

        <ol class="breadcrumb">
          <li><a href="#">Beranda</a></li>
          <li><a href="#">Informasi</a></li>
          <li class="active">FAQ</li>
        </ol>
    </div>
<section id="contact-info">
    {if $data}
        {foreach $data as $val}  
        <div class="center">                
            <h2>{$val.title}</h2>
            <p class="lead">&nbsp;</p>

            <div class="row">
            	<div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:left">
            	<p>{$val.content}</p>
            </div>
            <div class="col-md-2"></div>
            </div>
        </div>
        {/foreach}
    {/if}
    </section>  <!--/gmap_area -->